.filter-bar{

    width:90%;

    max-width:900px;

    margin:20px auto;

    display:flex;

    gap:20px;

}

.filter-bar input{

    flex:1;

    padding:12px;

    border:1px solid #ccc;

    border-radius:6px;

    font-size:16px;

}

.filter-bar select{

    width:220px;

    padding:12px;

    border-radius:6px;

}

@media(max-width:768px){

.filter-bar{

    flex-direction:column;

}

.filter-bar select{

    width:100%;

}

}