.task-list{
    width:90%;
    max-width:900px;
    margin:30px auto;
}

.task-card{

    background:#fff;

    margin-bottom:20px;

    padding:20px;

    border-radius:12px;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.card-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:15px;

}

.card-header h2{

    color:#2563eb;

}

.icons{

    display:flex;

    gap:15px;

    font-size:20px;

}

.edit{

    color:#0ea5e9;

    cursor:pointer;

}

.delete{

    color:#ef4444;

    cursor:pointer;

}

.edit:hover{

    transform:scale(1.2);

}

.delete:hover{

    transform:scale(1.2);

}

.task-card p{

    color:#555;

    margin-bottom:15px;

}

.status{

    padding:8px 18px;

    border-radius:30px;

    color:white;

    font-size:14px;

}

.Pending{

    background:#f59e0b;

}

.In-Progress{

    background:#3b82f6;

}

.Completed{

    background:#22c55e;

}